<!-- Blog Coming Soon -->
<section class="blog-soon">
    <div class="blog-soon__container">
        <div class="blog-soon__content">
            <p class="blog-soon__eyebrow">Blog</p>
            <h1 class="blog-soon__title">Próximamente</h1>
            <p class="blog-soon__subtitle">
                Estoy preparando artículos y contenido especial para ayudarte a navegar los momentos de cambio.<br>
                Vuelve pronto, ¡va a valer la pena!
            </p>
            <a routerLink="/home" class="blog-soon__btn">← Volver al inicio</a>
        </div>
    </div>
</section>
